body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow: initial;
}

.content {
    max-width: 1200px;
    margin: 0 1% 0 6%;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.attractionTicket {
    width: 80%;
    border-collapse: collapse;
}

tr {
    border: 1px solid #ababab;
}

td {
    text-align: center;
    padding: 10px;
}

th {
    padding: 10px;
    border: none;
    background-color: #ababab;
}

#ticketAddBtn {
    padding: 5px;
    width: 90px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;

}

    #ticketAddBtn:hover {
        background-color: #04AA6D;
        color: white;
    }


#ticketBtnEdit {
    width: 80px;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: 2px solid #045395;
}
    #ticketBtnEdit:hover {
        background-color: #1177c4;
        color: white;
    }

#ticketBtnDelete {
    width: 80px;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
}

    #ticketBtnDelete:hover {
        background-color: #ff0000;
        color: white;
    }

.ticketTable {
    width: 100%;
    margin-top:10px;
}

#attraction-row:hover {
    background-color: #3e3e3e;
    color: white;
}

.actionBox {
    display: flex;
}

.actionBox > div {
   width: 50%;
}

#actionLabel{
    font-size:18px;
}

#errorMsg{
    color:red;
    font-size:13px;
}

#inputBox{
    border:1px solid #ababab;
    width:300px;
    padding:10px;
    border-radius:5px;
}

    #inputBox:hover {
        border-bottom: 2px solid #8100be;
        border-color: #8100be;
    }

#selectBox {
    padding: 10px;
    font-size:17px;
}

.file-upload-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:auto;
}

.import-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #007bff;
}

    .import-label:hover {
        color: #0056b3;
    }

#ticketAddBtn {
    min-width: 100px;
}

#ticketSubmitBtn {
    min-width: 100px;
}