@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: fixed;
    width: 4.8%;
    height: 100vh;
    padding: 0 1%;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background: black;
    display: grid;
    align-items: center;
    z-index: 999;
}

    .navbar:hover {
        width: 15%;
        transition: 0.5s;
    }

.main {
    padding: 0;
    position: relative;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

    .main li {
        padding: 6%;
        margin: 16% 12px;
        border-radius: 8px;
        transition: all 0.5s ease;
    }

    .main div:hover,
    .selected {
        background-color: #333; 
        border-radius: 20px;
    }

    .main div a {
        color: white;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 20px;
        height: fit-content;
        transition: color 0.3s ease;
    }

        .main div a span {
            overflow: hidden;
        }

    .main a i {
        font-size: 24px; 
        transition: transform 0.3s ease;
    }

    .main div:hover a i {
        transform: scale(1.2); 
    }

.bar {
    display: flex;
    align-items: center;
}

    .bar i {
        width: 20%;
    }

    .bar p {
        width: 80%;
        font-size: 14px;
    }

.main div {
    padding: 20px;
    margin: 8px 0;
    transition: background 0.3s ease, transform 0.3s ease;
}

    .main div:hover {
        transform: translateX(5px); 
        background-color: #444; 
    }

.selected {
    background-color: #555; /* Example background */
    color: #fff; /* Example text color */
    border-radius: 10px; /* Optional rounded corners */
}

    .selected a {
        color: inherit;
    }

@media (max-width: 768px) {
    .navbar {
        width: 10%;
    }

    .main div a {
        font-size: 12px;
        gap: 10px;
    }

    .main a i {
        font-size: 18px; 
    }
}

/* Flash Message -------------------------------------------------------------- */

.info {
    position: fixed;
    background: #666;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    top: -100px;
    opacity: 0;
}

    .info:not(:empty) {
        animation: fade 5s;
    }

@keyframes fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    10% {
        top: 100px;
        opacity: 1;
    }

    90% {
        top: 100px;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}