@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin | Feedback";
}

@using X.PagedList
@using X.PagedList.Mvc.Core



<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/AdminCss/AdminAttraction.css" asp-append-version="true">
    
</head>
<body>
    <div class="content">
        <partial name="_AdminAttractionType" />
        <br />
        <br />
      
                    
                    <partial name="_AdminAttraction" />
        </div>
  
</body>
</html>
@section foot {
    <script>
        let timer = null;

        $('#name').on('input', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 500);
        });

    </script>
}

