@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin | Ticket";
}

@model TicketVM

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/AdminCss/AdminTicket.css" asp-append-version="true">

</head>
<body>
    <div class="content">
        <h1>Delete ticket</h1>
<form method="post" class="form">
            <div asp-validation-summary="ModelOnly"></div>
            <span style="display:flex; font-size:18px;">
                <p style="width:20%;">Id: @Model.Id</p>
                <p>AttractionId: @Model.AttractionId</p><br /><br />
            </span>
            <div class="actionBox">

            <div>
            <input asp-for="AttractionId" type="hidden" value="@Model.AttractionId" />
            <input asp-for="Id" type="hidden">

            <lable asp-for="ticketName" id="actionLabel">Ticket Name: </lable><br />
                    <input id="inputBox" asp-for="ticketName" data-upper autofocus disabled /><br />

                    <lable asp-for="stockQty" id="actionLabel">Stock Quantity:</lable><br />
                    <input id="inputBox" asp-for="stockQty" type="number" disabled /><br />

                    <lable asp-for="ticketPrice" id="actionLabel">Ticket Price: </lable><br />
                    <input id="inputBox" asp-for="ticketPrice" type="number" disabled /><br />
                </div>

                <div>
                    <lable asp-for="ticketStatus" id="actionLabel">Ticket Status:</lable><br />
                    <div id="selectBox">
                        <label><input asp-for="ticketStatus" type="radio" value="Good" disabled />Available</label>
                        <label><input asp-for="ticketStatus" type="radio" value="Fail" disabled />Non-available</label><br />
                    </div>

                    <lable asp-for="ticketDetails" id="actionLabel">Ticket Details: </lable><br />
                    <input id="inputBox" asp-for="ticketDetails" type="text" disabled /><br />

                    <lable asp-for="ticketType" id="actionLabel">Ticket Type: </lable><br />
                    <div id="selectBox">
                        <label><input asp-for="ticketType" type="radio" value="Adult" disabled />Adult</label>
                        <label><input asp-for="ticketType" type="radio" value="Child" disabled />Child</label>
                        <label><input asp-for="ticketType" type="radio" value="OKU" disabled />OKU</label><br />
                 </div>

                </div>
            </div>
            <section>
                <button id="ticketBtnDelete">Delete</button>
            </section>

        </form>
    </div>
</body>
</html>



