@model MobileWebAssignment.Models.PromotionInsertVM

@{
    ViewBag.Title = "Admin | Update Discount";
}

<head>
    <link rel="stylesheet" href="/css/AdminCss/AdminDiscountUpdate.css" asp-append-version="true">
</head>

<div class="container">
    <div class="header">
        <div class="title">Update Discount Promotion</div>
    </div>

    <form method="post" asp-action="AdminDiscountUpdate" asp-route-id="@Model.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label>Promotion ID</label>
        <input value="@Model.Id" class="form-control" readonly />

        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter Title" />
        <span asp-validation-for="Title" class="text-danger"></span>

        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" placeholder="Enter Code" readonly style="caret-color: transparent;color:#797777" />
        <span asp-validation-for="Code" class="text-danger"></span>

        <label asp-for="PriceDeduction"></label>
        <input asp-for="PriceDeduction" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="PriceDeduction" class="text-danger"></span>

        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>

        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>

        <div class="input-box">
            <label class="details">Promotion Status</label>
            <div class="radio-group">
                <label>
                    <input asp-for="PromoStatus" type="radio" value="Active" checked>
                    Active
                </label>
                <label>
                    <input asp-for="PromoStatus" type="radio" value="Inactive">
                    Inactive
                </label>
            </div>
            <span asp-validation-for="PromoStatus" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("AdminDiscount", "Admin")'">Cancel</button>
    </form>
</div>
