<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminCss/AdminAttractionTypeLayout.css">
    <title>Add New Category Information</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/Admin/AdminAttraction" class="back-arrow"><img src="/images/back-arrow.png" alt="Back"></a>
            <div class="title">Add New Attraction Type</div>
        </div>

        <div class="content">
            <form method="post" action="">
                <div class="product-details">

                    <div class="input-box">
                        <label class="details" for="name">Category Name</label>
                        <input type='text' id='name' name='name' value='' minlength="5" maxlength="100" required>                        <span></span>
                    </div>

                    <div class="input-box">
                        <label class="details" for="description">Category Description</label>
                        <textarea id='description' name='description' rows="5" cols="45" required></textarea>                        <span></span>
                    </div>

                </div>

                <div>
                    <!-- Buttons -->
                    <div class="button">
                        <input type="submit" id="addCategoryButton" name="submit" value="Add Category">
                    </div>

            </form>
        </div>
    </div>

</body>

</html>