@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin | Ticket";
}

@model TicketVM

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/AdminCss/AdminTicket.css" asp-append-version="true">

</head>
<body>
    <div class="content">
        <h1>Delete ticket</h1>
        <form method="post" class="form">
            ID: <label asp-for="Id"></label>
            <p>@Model.Id"</p>

            <input asp-for="AttractionId" value="@Model.AttractionId" disabled />
            Ticket Name: <lable asp-for="ticketName"></lable><br />
            <input asp-for="ticketName" data-upper autofocus />

            Stock Quantity: <lable asp-for="stockQty"></lable> <br />
            <input asp-for="stockQty" type="number" min="1" disabled />

            Ticket Price: <lable asp-for="ticketPrice"></lable><br />
            <input asp-for="ticketPrice" type="number" min="0.01" disabled />

            Ticket Details: <lable asp-for="ticketDetails"> </lable><br />
            <input asp-for="ticketDetails" type="text" disabled />

            Ticket Type: <lable asp-for="ticketType"></lable><br />
            <div>
                <label><input asp-for="ticketType" type="radio" value="adult" disabled />Adult</label>
                <label><input asp-for="ticketType" type="radio" value="child" disabled />Child</label>
                <label><input asp-for="ticketType" type="radio" value="oku" disabled />OKU</label>
            </div>
            <br />
            <section>
                <button>Delete</button>
                <button type="reset">Reset</button>
            </section>

        </form>
    </div>
</body>
</html>



