@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin | Ticket";
}

@model TicketVM

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/AdminCss/AdminTicket.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


</head>
<body>
    <div class="content">
        <button onclick="history.back()" style="border: none; background: none; cursor: pointer;">
            <i class="fas fa-arrow-left" style="font-size: 20px;"></i>
        </button>
        <h1>Update ticket</h1>
        <form method="post" class="form" asp-action="AdminTicketUpdate">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AttractionId" />
            <span style="display:flex; font-size:18px;">
            <p style="width:20%;">Id: @Model.Id</p>
                <p>AttractionId: @Model.AttractionId</p><br /><br />
            </span>
            <div class="actionBox">
            <div>
                <lable asp-for="ticketName" id="actionLabel">Ticket Name: </lable><br />
                <input id="inputBox" asp-for="ticketName" data-upper autofocus /><br />
                <span asp-validation-for="ticketName" id="errorMsg"></span><br />

                <lable asp-for="stockQty" id="actionLabel">Stock Quantity:</lable><br />
                <input id="inputBox" asp-for="stockQty" type="number" min="1" /><br />
                <span asp-validation-for="stockQty" id="errorMsg"></span><br />

                <lable asp-for="ticketPrice" id="actionLabel">Ticket Price: </lable><br />
                <input id="inputBox" asp-for="ticketPrice" type="number" min="0.01" /><br />
                <span asp-validation-for="ticketPrice" id="errorMsg"></span><br />
            </div>

            <div>
                <lable asp-for="ticketStatus" id="actionLabel">Ticket Status:</lable><br />
                <div id="selectBox">
                    <label><input asp-for="ticketStatus" type="radio" value="Good" />Available</label>
                    <label><input asp-for="ticketStatus" type="radio" value="Fail" />Non-available</label><br />
                </div>
                <span asp-validation-for="ticketStatus" id="errorMsg"></span><br />

                <lable asp-for="ticketDetails" id="actionLabel">Ticket Details: </lable><br />
                <input id="inputBox" asp-for="ticketDetails" type="text" size="50" /><br />
                <span asp-validation-for="ticketDetails" id="errorMsg"></span><br />

                <lable asp-for="ticketType" id="actionLabel">Ticket Type: </lable><br />
                <div id="selectBox">
                    <label><input asp-for="ticketType" type="radio" value="Adult" />Adult</label>
                    <label><input asp-for="ticketType" type="radio" value="Child" />Child</label>
                    <label><input asp-for="ticketType" type="radio" value="OKU" />OKU</label><br />
                </div>
                <span asp-validation-for="ticketType" id="errorMsg"></span><br />

            </div>
    </div>
            <section>
                <button id="ticketBtnEdit">Update</button>
                <button id="ticketBtnDelete" type="reset">Reset</button>
            </section>

        </form>
    </div>
</body>
</html>


