@{
    Layout = "_ClientLayout";
    ViewBag.Title = "Client | Attraction";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
</body>
</html>

<main style="min-height: 500px;">
   <section>
    <nav class="image_side">
        <img src="/images/afamosa.jpeg" alt="afamosa">
    </nav>
    <div class="details_side">
       <h1>A-Famosa</h1>
        <p style="font-size:22px;">
            <b>
                RM120.00 | <span style="font-size:17px;">Remaining Ticket: 100</span>
            </b>
        </p>
        <br />
        <article>
            <ul>
                <li>If water fun is on your mind, splash over to Water Theme Park, just 1.5 hours from Kuala Lumpur, with an optional meal or Safari Wonderland access.</li>
                <li>Rides: Discover Kids, Family, and Adventure Zones, with attractions like Arabian Village, Wave Pool, Lazy River, High Speed, Big Ice Cream, and more.</li>
                <li>Options: Upgrade for a hearty meal with veg and non-veg choices or access Safari Wonderland for wildlife fun and up-close encounters with animals.</li>
                <li>Facilities: Enjoy hassle-free fun with rental lockers, changing rooms, wheelchair accessibility, and cabanas for rent - convenient for everyone.</li>
            </ul>
        </article>
        
            <h2>Package Option</h2>
                <br />
       <form asp-action="AddMultipleToCart" method="post">
    @{var loopIndex = 0;}
    @foreach (var ticket in ViewBag.Tickets as List<TicketVM>)
    {
        <div class="ticket-box">
            <p style="font-size:18px;">@ticket.ticketName</p>
            <table class="tableTicketDetails">
                <tr>
                    <td>@ticket.ticketType</td>
                    <td><span>RM</span>@ticket.ticketPrice</td>
                    <td>
                        <label for="quantity_@ticket.Id" class="qty">Quantity:</label>
                        <input type="number" id="quantity_@ticket.Id" name="tickets[@loopIndex].Quantity" value="0" min="0" max="100" />
                        <input type="hidden" name="tickets[@loopIndex].TicketId" value="@ticket.Id" />
                    </td>
                </tr>
            </table>
        </div>
        loopIndex++;
            }        
            <audio id="myAudio" preload="auto">
                <source src="/sound/button.wav" type="audio/wav">
            </audio>
            <button onclick="handleButtonClick(event)" type="submit">Add All to Cart</button>

            <script>
                function handleButtonClick(event) {
                    event.preventDefault(); 
                    var audio = document.getElementById("myAudio");
                    var form = event.target.closest('form'); 
                    audio.playbackRate = 2;
                    audio.play();

                    audio.onended = function () {
                        form.submit(); 
                    };
                }
            </script>
            
</form>

    </div>
    </section>
</main>