@{
    Layout = "_ClientLayout";
    ViewBag.Title = "Client | Attraction";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body></body>
</html>
<main style="min-height: 600px;">
    <p class="introduction">
        A comprehensive range from electronic devices
        to home appliances are available at here !
    </p>
    <section>
        <nav class="prod_side">
            <form method="POST" action="product_list.php">
                <input type="search" name="search" id="search_prod" placeholder="Search..." />

                <br><br>
                <label>Filter by Price : </label><br><br>
                <input type="submit" name="sort_High_Low" id="priceBtn" value="High to Low" /> <br><br>
                <input type="submit" name="sort_Low_High" id="priceBtn" value="Low to High">


                <select name="category" id="category" onchange="this.form.submit()">
                    <option value="all">All</option>
                </select>
            </form>
        </nav>

        <div class="productList">
            <div class="product-list">


                <div class="product-item" onclick="window.location.href='product_details.php?product_id=<?= $product->product_id ?>'">
                    <img src="~/images/002.jpg" alt="" class="product-image">
                    <h3 class="product-name">A-Famosa</h3>
                    <p>★ 4.0(12)</p>
                    <p class="product-cost">start with RM120 per ticket</p>
                </div>
            </div>
        </div>
    </section>
</main>

