@{
	Layout = "_ClientLayout";
	ViewBag.Title = "Home Page";
}


<main>
	<div class="image-container">
		<img src="/images/homepage_background.jpg" alt="Home Image" class="homeImage">
		<div class="black-overlay"></div>
		<div class="content">
			<h1>Welcome to Phaethon Miyabi</h1>
			@if (User.Identity!.IsAuthenticated && User.IsInRole("Member"))
			{
				<p>"Don't miss out! Buy your tickets and gain access to exciting discounts and offers!"</p>
				<br />
				<a href="ClientAttraction" class="register-button">Buy Now</a>
			}
			else
			{
				<p>Login as a member to purchase tickets and get more details</p>
				<br />
				<a href="Login" class="register-button">Login Now</a>
			}


		</div>
	</div>

</main>

