﻿
<!DOCTYPE html>
<html lang="en">

@model ResetPassword
@inject IConfiguration configuration
@{
    var siteKey = configuration["ReCaptchaSettings:SiteKey"];
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ClientCss/ChangePassword.css" asp-append-version="true">
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <title>Reset Password</title>

    <style>
        html {
            background-image: url('/images/login_background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            position: relative;
        }

            html::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                filter: blur(5px);
                z-index: -1;
            }

        body {
            position: relative;
            z-index: 1;
        }
    </style>

    <script type="text/javascript">
        var onloadCallback = function() {
          grecaptcha.render('html_element', {
              'sitekey' : '@siteKey'
            });
        };

        function onSubmit(event){
            var token = grecaptcha.getResponse();
            document.getElementById("recaptchaTokenInputId").value = token;
            console.log("Token Received",token);
        }
    </script>

</head>

<body>


    <div class="container">
        <div class="title">Reset Password</div>
        </br>
        <div class="content">
            <form method="POST" id="state" enctype="multipart/form-data" onsubmit="onSubmit(event)">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="user-details">

                    <!-- Email Address -->
                    <div class="input-box">
                        <label class="details" asp-for="Email">Email Address</label>
                        <input class="form-control" asp-for="Email" placeholder="Enter your email" />
                        <span  class="text-danger"></span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="">
                        <div class="">
                            <div id="html_element"></div>
                            <input type="hidden" id="recaptchaTokenInputId" asp-for="RecaptchaToken">
                            <hr />
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="button-container">
                        <input type="submit" value="Reset Password">
                        <a href="Homepage">Cancel</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>
</html>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.unobtrusive.min.js"></script>
<script src="/js/app.js" asp-append-version="true"></script>